/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header styles */
#main-header {
    color: palevioletred;
    padding: 10px;
    margin: 20px;
    background-color: #f4f4f4;
    text-align: center;
}

/* Highlight class */
.highlight {
    background-color: peachpuff;
    margin: 10px;
    padding: 100px;
}

/* Link styles */
a.link {
    text-decoration: none;
    color: blue;
}

/* Hover effect for links */
a.link:hover {
    color: red;
}

/* Section styles */
section {
    margin-bottom: 20px;
}
img{
    margin-top: 10px;
    height: 200px;
}
